<div class="col" style="margin-bottom: 20px; padding-right:10px;">
    {{!-- <div class="row">
        <div class="col text-center d-lg-flex justify-content-lg-center align-items-lg-center"
            style="padding: 10px;color: rgb(13 11 147);;height: 59.111099999999986px;margin-right: 5px;">
            <h2 class="text-center d-lg-flex justify-content-lg-center align-items-lg-center">Crypto
                Market&nbsp;</h2>
        </div>
    </div> --}}
    {{!-- <div class="row">
        <div class="col">
            <div class="row">
                <div class="col text-center d-lg-flex justify-content-lg-center align-items-lg-center">
                    <h1 class="text-center">Top 20 Coins</h1>
                </div>

            </div>
        </div>
    </div> --}}
    {{!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." style="    max-width: 424px;
    border: 3px solid black;
    border-radius: 44px;
    height: 47px;"> --}}
    {{!-- <div class="table-wrapper-scroll-y my-custom-scrollbar"></div> --}}
    {{!-- <div class="row table-wrapper-scroll-y my-custom-scrollbar"> --}}

        <div class="col text-center" style="    background-color: rgb(244 243 243);
                  
                                                   
                                                    padding: 0%;
                                                    color: rgb(0, 0, 0);
                                                    margin-right: -10px;
                                                    margin-top: 0px;
                                                    border-radius: 10px;
                                                    border-color: rgb(0, 0, 0);">
            <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar" style="    padding: 14px 2px;">
                {{!-- <table class="table" id="myTable"> --}}
                    <table class="table    " id="example" width="100%">
                        <thead>
                            <tr>
                                <th class="text-center">Rank<br><br></th>
                                <th>
                                    Logo<br><br>
                                </th>
                                <th class="one">
                                    ID<br><br></th>

                                <th>
                                    Name<br><br></th>
                                <th>
                                    Current<br>Price</th>
                                <th>24
                                    hr<br>Change</th>
                                <th>
                                    Buy<br><br></th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            {{#each arra}}

                            {{#ifCond this.percent 0}}
                            <tr class="text" style="color: rgb(218, 8, 8)">
                                {{else}}
                            <tr class="text" style="color: #188d56;">
                                {{/ifCond}}




                                <td style="width: 10px;" id="coinrank1">{{this.rank}}</td>
                                <td style="width: 10px;" id="coinrank1">

                                    <img style="width: 40px;" onerror='this.style.display = "none"' data-v-996a917e=""
                                        data-v-854cb312="" width="26px" src={{coinImg}} alt="Logo" class="coin-logo"
                                        data-v-5cd5ab5d="">

                                </td>
                                <td class="one" id="coinid1" style="width: 10px;">{{this.symbol}}</td>
                                <td id="coinname1" style="width: 10px;">{{this.name}}</td>
                                <td id="coinprice1" style="width: 10px;">{{this.currentPrice}}</td>
                                <td id="coinpercent1" style="width: 10px;">{{this.percent}} %</td>
                                <td id="coincollapse1" style="width: 10px;">
                                    <div>

                                        <form action="/BuyDataPage" method="post">
                                        <button class="btn btn-success btn-lg" type="submit" name="sellCoin" 
                                        
                                        
                                        style="    margin: 0px;
                                                padding: 1px 12px;
                                                font-size: 1.1rem;
                                                margin-bottom: 12px;" value={{this.idx}}>
                                            BUY
                                        </button>
                                        </form>
                                      

                                    </div>

                                </td>


                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
            </div>
        </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js"></script>



    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>