{{!-- <div class="row mainDiv2">
    <div class="col">
        <h3 class="text-center" style="color: rgb(0, 0, 0);">Global Portfolio</h3>
    </div>


</div> --}}



<div class="row mainDiv2">
    <div class="col"
     style="
   border-top: 1px solid black;
     padding: 0%;">
        <div class="table-responsive" style="background-color: rgb(255, 255, 255);">
            <table class="table">
                <thead class="text-center" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">

                    <tr>
                        {{!-- <th class="text-center">Rank<br><br></th> --}}
                        <th>ID<br><br></th>
                        <th>Name<br><br></th>
                        <!-- Current Price <br><button id="reloCurrValue"> ↺</button> </th> -->
                        <th> Current <br> Price 
                        </th>
                        <th>Invested<br>Price<br></th>
                        <th>Profit<br>Gained</th>
                        <th>Sell<br><br></th>
                    </tr>



                </thead>

                <tbody id="tbody2" class="text-center">



                    {{#ifEqual cls "user"}}

                    {{else}}
                    
                    {{#each cls}}

                    {{#ifCond this.coin_profit 0}}
                    <tr      style="color: #eb5555;background-color: rgb(248, 248, 248);"    >
                        {{else}}
                    <tr      style="color: green;background-color: rgb(248, 248, 248);"    >
                        {{/ifCond}}

                        {{!-- <td style="width: 25.66670000000001px;">1</td> --}}
                        <td>{{this.coin_symbol}}</td>
                        <td>
                            <strong>
                                {{this.coin_name}}
                            </strong>
                        </td>
                        <td>{{this.coin_current}}</td>
                        <td>{{this.coin_invested_amount}}</td>
                        <td>
                            <strong>
                                {{this.coin_profit}}
                            </strong>
                        </td>
                        <td>
                            <div>
                                <form action="/defaultContest/C_selling_coin" method="post">

                                    <button class="btn btn-success btn-lg" type="submit" name="arrayIndex" 
                                    
                                    style="margin: 0px;
                                    padding: 1px 12px;
                                    font-size: 1.1rem;
                                    margin-bottom: 12px;" value={{@index}}>
                                        SELL
                                    </button>

                                </form>

                            </div>
                        </td>
                    </tr>
                    {{/each}}
                    {{/ifEqual}}




                </tbody>

                <tfoot class="text-center" style="
                border-top: 1.5px solid black;
                background-color: rgb(226 226 226); ">
                    {{#ifCond C_myPortfolio_total_profit 0}}
                    <td></td>
                    <td></td>
                    {{!-- <td></td> --}}

                    <td style="color: red;"> {{C_myPortfolio_total_Current}} </td>
                    <td style="color: red;"> {{C_myPortfolio_total_invested}} </td>
                    <td style="color: red;"> {{C_myPortfolio_total_profit}} </td>
                    <td></td>

                    {{else}}
                    <td></td>
                    <td></td>
                    {{!-- <td></td> --}}

                    <td style="color: rgb(52, 202, 52);;"> {{C_myPortfolio_total_Current}} </td>
                    <td style="color: rgb(52, 202, 52);;"> {{C_myPortfolio_total_invested}} </td>
                    <td style="color: rgb(52, 202, 52);;"> {{C_myPortfolio_total_profit}} </td>
                    <td></td>
                    {{/ifCond}}
                </tfoot>

            </table>

            {{!-- <table class="table" id="portfolioSummary">
                <thead>
                    <th class="text-center">Total <br> Coins <br>=</th>
                    <th class="text-center" style="background-color: red;">Total <br> Investment <br>=
                    </th>
                    <th class="text-center">Current <br> Value <br>=</th>
                    <th class="text-center">Current <br> Profit <br>=</th>

                </thead>
                <tbody>

                    <tr class="table-info">
                        <th id="holding"><br> 900 <br></th>
                        <th id="InvestmentTotal"><br> 900 <br></th>
                        <th id="currentTotal"> 800 <br> <br> </th>
                        <th id="currentProfit">780<br><br> </th>

                    </tr>
                </tbody>
            </table> --}}
        </div>
    </div>
</div>