<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dummy Crypto</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=e337e2f12d2e537274a714a3aec143db">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css?h=c2cd6f3f03048985338d131849447f65">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

     
     

    {{!-- <link rel="shortcut icon" type="x-icon" href="https://picsum.photos/200"> --}}
    {{!-- <link rel="shortcut icon" type="x-icon" href="https://media.istockphoto.com/vectors/finance-graphic-bars-up-rising-arrow-vector-illustration-design-vector-id961649530?s=612x612"> --}}
    <link rel="shortcut icon" type="x-icon" href="https://media.istockphoto.com/vectors/bitcoin-neon-glowing-logo-vector-id935784982?s=612x612">
    <title>Dummy Crypto!</title>


    <style>
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }

        .mainDiv {
            margin: 40px;
        }

        @media (max-width: 500px) {
            .mainDiv {
                margin-top: 30px;
                margin-bottom: 40px;
                margin-left: 4px;
                margin-right: 4px;
            }

            .mainDiv2 {

                margin-left: 4px;
                margin-right: 4px;
            }

        }

        .shd {
            -moz-box-shadow: 3px 3px 5px 6px #ccc;
            -webkit-box-shadow: 3px 3px 5px 6px #ccc;
            box-shadow: 7px 7px 5px 6px #227c2a;
        }

        @media only screen and (max-width: 450px) {
            .one {
                display: none;
            }
        }

        .checked {
            color: orange;
        }

        .clr {
            color: rgb(255, 255, 255);
        }


        @media only screen and (max-device-width: 500px) {
            .padd {
                padding: 0px;
            }
        }
    </style>

  

</head>

<body id="page-top" style="background-color: #e4e4e4;">
    <div id="wrapper">

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">


                {{>header}}
                {{!-- <img src="https://picsum.photos/200" alt="sdf"> --}}

                <div class="container-fluid">

                    <section class="marqueesection">

                        <marquee style="background: black;
                                        color: #dbe0d5;
                                        font-size: 1rem;
                                        padding: 3px;
                                        margin: 5px;" behavior="alternate" direction="left" class="marqueestyle"
                            onmouseover="this.stop();" onmouseout="this.start();">
                            <span class="marqueetext">
                                {{#ifCond market_cap_change_24h 0}}
                                Market Cap =
                                <strong style="color: red;">
                                    ₹ {{market_cap_usd}} Trillion ({{market_cap_change_24h}} %) </strong>

                                , 24h Volume =

                                <strong style="color: red;">
                                    ₹ {{volume_24h_usd}} Trillion </strong>
                                , Bitcoin Dominance Percentage = {{bitcoin_dominance_percentage}}%

                                {{else}}

                                Market Cap =
                                <strong style="color: #3dfa3d;">
                                    ₹ {{market_cap_usd}} Trillion ({{market_cap_change_24h}} %) </strong>

                                , 24h Volume =

                                <strong style="color: #3dfa3d;">
                                    ₹ {{volume_24h_usd}} Trillion </strong>
                                , Bitcoin Dominance Percentage  = {{bitcoin_dominance_percentage}}%

                                {{/ifCond}}
                            </span>

                        </marquee>
                    </section>

                    <div class="row" style="margin: 30px auto;">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2" style="background-color: #ffffff;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1">
                                                <span style="color: rgb(23 163 12);">
                                                    Username
                                                </span>
                                            </div>
                                            <div class="row">
                                                <div class="col">

                                                    <div class="text-dark fw-bold h5 mb-0">
                                                        <span style="color: rgb(0, 0, 0);">
                                                            {{current_username}}</span>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div title="  0 stars :- if profit < 0
                            1 stars :- if profit >= 0  
                            2 stars :- if profit >= 100  
                            3 stars :- if profit >= 200  
                            4 stars :- if profit >= 300  
                            5 stars :- if profit >= 400 " style="text-decoration: none;">
                                                        {{#ifCond total_profit -1 }}
                                                        <li class="nav-item" style="list-style: none;  ">
                                                            <span class="fa fa-star clr "></span>
                                                            <span class="fa fa-star clr "></span>
                                                            <span class="fa fa-star clr "></span>
                                                            <span class="fa fa-star clr"></span>
                                                            <span class="fa fa-star clr"></span>

                                                        </li>
                                                        {{else}}
                                                        {{#ifCond total_profit 100 }}


                                                        <li class="nav-item" style="list-style: none;  ">
                                                            <span class="fa fa-star   checked"></span>
                                                            <span class="fa fa-star clr "></span>
                                                            <span class="fa fa-star clr "></span>
                                                            <span class="fa fa-star clr"></span>
                                                            <span class="fa fa-star clr"></span>

                                                        </li>
                                                        {{else}}
                                                        {{#ifCond total_profit 200 }}
                                                        <li class="nav-item" style="list-style: none;  ">
                                                            <span class="fa fa-star   checked"></span>
                                                            <span class="fa fa-star   checked"></span>
                                                            <span class="fa fa-star clr "></span>
                                                            <span class="fa fa-star clr"></span>
                                                            <span class="fa fa-star clr"></span>

                                                        </li>
                                                        {{else}}
                                                        {{#ifCond total_profit 300 }}
                                                        <li class="nav-item" style="list-style: none;  ">
                                                            <span class="fa fa-star   checked"></span>
                                                            <span class="fa fa-star   checked"></span>
                                                            <span class="fa fa-star   checked"></span>
                                                            <span class="fa fa-star clr"></span>
                                                            <span class="fa fa-star clr"></span>

                                                        </li>
                                                        {{else}}
                                                        {{#ifCond total_profit 400 }}
                                                        <li class="nav-item" style="list-style: none;  ">
                                                            <span class="fa fa-star   checked"></span>
                                                            <span class="fa fa-star   checked"></span>
                                                            <span class="fa fa-star   checked"></span>
                                                            <span class="fa fa-star   checked"></span>
                                                            <span class="fa fa-star clr"></span>

                                                        </li>
                                                        {{else}}

                                                        <li class="nav-item" style="list-style: none;  ">

                                                            <span class="fa fa-star   checked"></span>
                                                            <span class="fa fa-star   checked"></span>
                                                            <span class="fa fa-star   checked "></span>
                                                            <span class="fa fa-star   checked"></span>
                                                            <span class="fa fa-star   checked"></span>
                                                            {{/ifCond}}
                                                            {{/ifCond}}
                                                            {{/ifCond}}
                                                            {{/ifCond}}
                                                            {{/ifCond}}
                                                        </li>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        {{!-- <div class="col-auto" style="margin: 0px; padding:0px;"><i
                                                class="fas fa-solid fa-user fa-2x text-gray-300"></i>
                                        </div> --}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2" style="background-color: #ffffff;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1">
                                                <span style="color: rgb(23 163 12)">
                                                    Name
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0">
                                                <span style="color: rgb(0, 0, 0);">

                                                    {{current_name}}
                                                </span>


                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-solid fa-user fa-2x text-gray-300"
                                                style="color: rgb(0, 0, 0);"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-success py-2" style="background: #ffffff">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span
                                                    style="color: rgb(23 163 12)">
                                                    Available Balance
                                                </span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span style="color: rgb(0, 0, 0);">₹
                                                    {{available_balance}}</span>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-rupee-sign fa-2x text-gray-300"
                                                style="color: rgb(0, 0, 0);"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 col-xl-3 mb-4">
                            {{#ifCond total_profit -1 }}
                            <div class="card shadow border-start-success py-2" style="background: #ffffff">
                                {{else}}
                                <div class="card shadow border-start-success py-2" style="background: #ffffff">
                                    {{/ifCond}}
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-success fw-bold text-xs mb-1">
                                                    <span style="color: rgb(23 163 12)">
                                                        Total Profit Gained
                                                    </span>
                                                </div>
                                                <div class="text-dark fw-bold h5 mb-0"><span
                                                        style="color: rgb(0, 0, 0);">₹
                                                        {{total_profit}}</span></div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rupee-sign fa-2x text-gray-300"
                                                    style="color: rgb(0, 0, 0);"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- Start: Chart -->
                        <div class="row" style="margin-top: 30px;">

                            <div class="col-lg-5 col-xl-6">
                                {{!-- <div class="row">

                                    <div class="card shadow mb-4">

                                        <div class="card-body">
                                            {{>dashBoard}}

                                        </div>
                                    </div>
                                </div> --}}
                                <div class="row padd">

                                    <div class="card shadow mb-4">
                                        <div class="card-header " style="text-align: center; background: white;">
                                            {{#ifEqual header_Username "--"}}
                                            <h4 class="fw-bold m-0" style="color: rgb(13 11 147);">My Portfolio
                                            </h4>
                                            {{else}}
                                            <div class="row">
                                                <div class="col">
                                                    <h4 class="fw-bold m-0" style="color: rgb(13 11 147);">My Portfolio
                                                    </h4>

                                                </div>
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col-8" style="align-self: center;">
                                                            <h6 style="margin: auto;">Notifications are :- </h6>

                                                        </div>
                                                        <div class="col-4">
                                                            <form action="/emailOnOff" method="post">

                                                                <button type="submit" class="btn btn-secondary" style="    margin: 0px;
                                                                                background: black;
                                                                                padding: 1px 12px;
                                                                                font-size: 1.1rem;
                                                                                margin: auto;">
                                                                    {{emailStatus}}

                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            {{/ifEqual}}

                                        </div>

                                        <div class="card-body padd">
                                            {{>myportfolio}}

                                        </div>
                                    </div>
                                </div>
                                <div class="row padd">

                                    <div class="card shadow mb-4">
                                        <div class="card-header" style="text-align: center; background: white;">
                                            <h4 class="fw-bold m-0" style="color: rgb(13 11 147);">Global Portfolio
                                            </h4>

                                        </div>

                                        <div class="card-body padd">
                                            {{>Cmyportfolio}}

                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-lg-7 col-xl-6 padd">
                                <div class="card shadow mb-4">
                                    <div class="card-header " style="text-align: center; background: white;">
                                        <h4 class="fw-bold m-0" style="color: rgb(13 11 147);">Crypto Market </h4>

                                    </div>
                                    <div class="card-body" style="padding: 0px;">
                                        {{>apidata}}
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>
                <footer class="bg-white sticky-footer">
                    <div class="container my-auto">
                        <div class="text-center my-auto copyright"><span>Copyright © Aniket 2022</span></div>
                    </div>
                </footer>
            </div>
            <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

        <script src="/assets/js/script.min.js?h=bdf36300aae20ed8ebca7e88738d5267"></script>




</body>

</html>